.block {
  padding: 1.8em;
  background-color: #fff;
  border-radius: 5px;
  .block_progress {
    height: 0.5em;
    width: 100%;
    background-color: $bs-gray-100;
    border-radius: 1em;
  }
  .block_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 0.4em;
    .block_options-detail {
      font-size: 0.75em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      padding: 0.7em 0.8em;
      &.color-text-white{
        color: #fff;
        a{
          color: #fff
        }
      }
      &.color-text-black{
        color: $bs-gray-600;
        a{
          color: $bs-gray-600;
        }
      }
      a{
        font-weight: 500;
        font-size: 1em;
        text-decoration: none;
      }
      i {
        padding-right: 0.4em;
      }
    }
  }
}
