.list-user {
  border-radius: 3px;
  overflow: hidden;
  .list-user_header {
    background-color: #F8F9FC;
    padding: 0.8em 1em;
    h5 {
      font-size: 1em;
      font-weight: 400;
    }
  }
  .list-user_content {
    background-color: #fff;
    text-align: center;
    font-size: 0.8em;
    thead{
      tr{
        border-bottom: 1px solid $bs-gray-300;
        th{
          padding: 1.2em 0;
          font-weight: 500;
        }
      }
    }
    tbody{
      tr {
        transition: all 0.2s ease;
        &:not(:last-child){
          border-bottom: 1px solid $bs-gray-300;
        }
        &:hover{
          background-color: #E6F7FF;
        }
        td {
          padding: 1.2em 0;
          span {
            opacity: 0.7;
            background-color: #FAFAFA;
            padding: 0.2em 1.1em;
            border: 1px solid $bs-gray-300;
            strong {
              font-weight: 500;
              color: #181c32;
              font-weight: 600;
            }
            border-radius: 5px;
          }
          .dot {
            width: 0.4em;
            height: 0.4em;
            background-color: $bs-active-primary;
            border-radius: 50%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
