$bs-light-primary: #f1faff;
$bs-active-primary: #0095e8;
$bs-active-primary-bland: #009EF7;
$bs-light-success: #e8fff3;
$bs-active-success: #47be7d;
$bs-light-info: #f8f5ff;
$bs-active-info: #5014d0;
$bs-active-info-bland: #7239EA;
$bs-light-warning: #fff8dd;
$bs-active-warning: #f1bc00;
$bs-light-danger: #fff5f8;
$bs-active-danger: #d9214e;
$bs-active-danger-bland: #F1416C;
$bs-light-dark: #eff2f5;
$bs-active-dark: #131628;
$bs-gray-100: #f5f8fa;
$bs-gray-200: #eff2f5;
$bs-gray-300: #e4e6ef;
$bs-gray-400: #b5b5c3;
$bs-gray-500: #a1a5b7;
$bs-gray-600: #7e8299;
$bs-gray-700: #5e6278;
$bs-gray-800: #3f4254;
$bs-gray-900: #181c32;
$bs-xs: 0;
$bs-sm: 576px;
$bs-md: 768px;
$bs-lg: 992px;
$bs-xl: 1200px;
$bs-xxl: 1400px;
$bs-border-color: #eff2f5;
$bs-border-dashed-color: #e4e6ef;
$backGround-body-color:#f0f3f8;
